@import "~@angular/material/theming";
@import 'src/variables.scss';

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mat-card-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.temperature {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
}
.additional-info {
    font-weight: 300;
}
.mat-button-toggle-group {
    font-size: 1rem;
    font-weight: 400;
}
.title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.time {
    font-weight: 300;
    font-size: 1.25rem;
}
.weather {
    font-weight: 300;
    font-size: 1.125rem;
}
.weather-icon {
    width: 10rem;
    height: 10rem;
}
.invalid {
    background-color: mat-color($warnPalette, lighter);
    
    .mat-card-title {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        font-weight: 300;
        font-size: 1.25rem;
        color: mat-color($warnPalette);

        .zip {
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
}